doctype html
html
  head
    block head
      title Gulp/Jade template
      link(rel="icon", href="/favicon.ico")
      link(rel="stylesheet", href="/css/semantic.min.css")
      link(rel="stylesheet", href="/css/main.css")
  body
    block body

    script(src="js/main.js")
